{% extends "posts/base.html" %}
{% load thumbnail %}
{% block title %}People you Follow{% endblock %}
{% block body %}
<h1>People</h1>
<div id="people-list">
{% for user in users %}
    <div class="info">
<a href="{{ user.get_absolute_url }}" class="title">
    {% if user.profile.name != "Anonymous" %}
{{ user.profile.name }}
    {% else %}
    {{ user.username }}
    {% endif %}
</a>
    <a href="{% url "posts:user_follow" user.username %}"  class="followbutton">
{% if request.user not in user.followers.all %}
    Follow
{% else %}
Unfollow
{% endif %}
</a>
    {% if user in request.user.followers.all %}
    Follows you
{% endif %}
</div>
</div>
<div class="user">
<a href="{{ user.get_absolute_url }}">
{% thumbnail user.profile.photo "180x180" crop="100%" as im %}
<img src="{{ im.url }}">
{% empty %}
</a>

{% endfor %}
</div>
{% endblock %}