
{% extends "posts/base.html" %}
{% block title %}Search{% endblock %}
{% block body %}
{% if "query" in request.GET %}
<h1>Posts containing "{{ cd.query }}"</h1>
<h3>Found {{ total_results }} result{{ total_results|pluralize}}</h3>
{% for post in results %}
<h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
{{ post.description }}
{% empty %}
<p>There are no posts for your query.</p>
{% endfor %}
    {% for person in people %}
<h4><a href="{% url 'posts:user_detail person' %}">{{ person.name }}</a></h4>

{% empty %}
<p>There are no people for your query.</p>
{% endfor %}
<p><a href="{% url 'posts:post_search' %}">Search again</a></p>
{% else %}

    <div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Search for People or Posts</h1>

                    <form class="form-horizontal" role="form" action="." method="get" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'posts/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Search!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

</div>
</div>

{% endif %}
{% endblock %}