{% extends "posts/base.html" %}
   {% load thumbnail %}
{% block title %}User Profile{% endblock %}
{% block body %}

    <h1>{{ user.username }}'s Profile</h1>
{% if profile.date_of_birth %}
<h2> Born {{  profile.date_of_birth }} </h2>
    {% endif %}
    {% if profile.photo %}
    <img src="{{profile.photo.url}}">
    {% endif %}
<h3> {{ user.username }}'s Posts </h3>
    {% if all_posts %}
	{% if tag %}
		<h2>Posts tagged with "{{ tag.name }}"</h2>
	{% endif %}

	{% for post in all_posts %}

        <p class="posts">
        {% thumbnail post.image "180x180" crop="100%" as im %}
        <img src="{{ im.url }}">


		<a href="{{ post.get_absolute_url }}"> {{ post.title }}</a>


		Tags:
		{% for tag in post.tags.all %}
		<a href="{% url "posts:post_list_by_tag" tag.slug %}">
		{{ tag.name }}
		</a>
            {% if not forloop.last %}, {% endif %}
		{% endfor %}
            {% empty %}

		</p>


	{% endfor %}
{% else %}
	<h4>Zero Posts </h4>
{% endif %}
    {% with total_followers=user.followers.count %}
<span class="count">
<span class="total">{{ total_followers }}</span>
follower{{ total_followers|pluralize }}
</span>
    {% endwith %}
      {% with total_following=user.following.count %}
<span class="count">
follows {{ total_following }} people
</span>
    {% endwith %}
<a href="{% url "posts:user_follow" user.username %}"  class="followbutton">
{% if request.user not in user.followers.all %}
    Follow
{% else %}
Unfollow
{% endif %}
</a>
    {% if user in request.user.followers.all %}
    Follows you
{% endif %}




{% comment %}
{% with total_images_created=request.user.images_created.count %}
<p>Welcome to your dashboard. You have bookmarked {{ total_images_
created }} image{{ total_images_created|pluralize }}.</p>
{% endwith %}
<p>Drag the following button to your bookmarks toolbar to bookmark
images from other websites → <a href="javascript:{% include
"bookmarklet_launcher.js" %}" class="button">Bookmark it</a><p>
<p>You can also <a href="{% url "edit" %}">edit your profile</a> or
<a href="{% url "password_change" %}">change your password</a>.<p>
{% endcomment %}
{% endblock %}
}